body {
  background: #e5e0da;
  font-family: 'Arial'; }

.topbar {
  background: #060606;
  color: #FFF; }

.content {
  margin-top: 100px; }

.icon-text {
  font-family: 'Georgia';
  font-size: 18px;
  font-style: italic;
  color: #8a6f64;
  margin-bottom: 20px; }

canvas {
  margin-top: 20px; }

select {
  border: none !important;
  border-shadow: none !important;
  border-radius: none !important; }

.transport {
  height: 70px;
  width: 70px;
  margin-top: 30px;
  animation: transport 2s infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#workshop, #central-warehouse, #regional-warehouse {
  cursor: pointer; }

@keyframes transport {
  0% {
    opacity: 0;
    margin-left: -20px; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0;
    margin-left: 20px; } }

@keyframes shake {
  0% {
    opacity: 0;
    margin-left: -20px; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0;
    margin-left: 20px; } }
